# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*-Debug
Debug
Release
debug
release
x64
GeneratedFiles
*.sdf
*.opensdf
*.sln
*.suo
*.vcxproj
*.vcxproj.*
.qmake.stash
*.rc
.vs
CMakeBuilds
build
